# deps
node_modules/
# build output
dist/
dist-ssr/
.vite/
# env
.env
.env.*
!.env.development
!.env.production
!.env.example
# logs
*.log
# editor/os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db